@import "config";

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  @include center;

  width: 100vw;
  height: 100vh;

  background-color: darkgray;
}
.main {
  @include center;
  flex-direction: column;

  width: 275px;
  height: 500px;

  border: 2px solid #000;
  border-radius: 12px;
  background-color: grey;
}
.session {
  display: flex;
  justify-content: space-around;

  width: 100%;

  .controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .view {
      span {
        font-size: 20px;
      }

      button {
        border-radius: 8px;
        border: none;
        outline: none;
        width: 30px;
        height: 25px;
        font-size: 21px;
        color: #000;

        &:hover {
          opacity: 89%;
        }
      }
    }
  }
}
.clock {
  @include center;

  width: 200px;
  height: 200px;

  font-size: 32px;
  border-radius: 50%;
  background-color: darkgray;
}
.settings {
  display: flex;
  justify-content: space-around;
  width: 100%;

  button {
    border: none;
    outline: none;
    width: 50px;
    height: 22px;
    color: #000;

    &:hover {
      opacity: 80%;
    }
  }
}
